#page {
    margin: 0 auto;
    width: 1000px;
}

#header {
    background-color: #999;
}

#footer {
    text-align: center;
}

#comments {
    padding-left: 25px;
}

#mainmenu {
    background-color: #999999;
}

#menu li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    background-color: #759e1a;
}

#menu li:hover {
    background-color: chartreuse;
}

#tag {
    float: left;
    padding: 10px 10px;
    background-color: goldenrod;
    margin-left: 5px;
    height: 10px;
}